<nav class="navbar navbar-expand border border-dark rounded-4 shadow-sm">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="/chouseikun/">
            <img src="/chouseikun/template/chouseikun.png" style="width: 40px;" class="">
            <h1 class="d-inline align-middle">
                調整くん
            </h1>
        </a>
        <div  class="collapse navbar-collapse fs-3 fw-bold">
            <ul class="navbar-nav me-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="index.php">Home</a>
                </li> -->
            </ul>
        </div>


    </div>
</nav>
</div>