<nav class="navbar navbar-expand border border-dark rounded-4 shadow-sm">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="/chouseikun/">
            <img src="/chouseikun/template/chouseikun.png" style="width: 40px;" class="">
            <h1 class="d-inline align-middle">
                調整くん
            </h1>
        </a>
        <ul class="navbar-nav">
            <!-- <li class="nav-item">
                <h2><a class="nav-link" href="#">Link 1</a></h2>
            </li> -->
        </ul>

    </div>
</nav>
</div>