.bg_col_main{
    background-color: burlywood;
}
.bg_col_sub{
    background-color:blue;
}
.bg_col_dark_7{
    background-color: rgba(0, 0, 0, 0.7);
}
.bg_col_dark_5{
    background-color: rgba(0, 0, 0, 0.5);
}
.bg_col_dark_3{
    background-color: rgba(0, 0, 0, 0.3);
}
.bg_col_dark_1{
    background-color: rgba(0, 0, 0, 0.1);
}
.bg_col_bright{
    background-color: rgba(255, 255, 255, 0.7);
}














.bg_col{
    background-color: burlywood;
}
.bg_col_b1{
    background-color: rgba(0, 0, 0, 0.7);
}
.bg_col_b2{
    background-color: rgba(0, 0, 0, 0.5);
}
.bg_col_b3{
    background-color: rgba(0, 0, 0, 0.3);
}
.bg_col_w1{
    background-color: rgba(255, 255, 255, 0.3);
}
.bg_col_w2{
    background-color: rgba(255, 255, 255, 0.5);
}
.bg_col_w3{
    background-color: rgba(255, 255, 255, 0.7);
}
.b0{
    height: 15px;
}
.b1{
    height: 100px;
}
.b2{
    height: 130px;
}
.b3{
    height: 260px
}
.b4{
    height: 390px
}
.b4 .b3{
    height: 360px
}

div{
    border-radius: 15px;
}
/*top menu*/
.top_menu{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

/*Contents*/
.page_bar{
    height: 15px;
    margin: 15px 0;
}
.sub_content{
    padding: 15px 0;
    min-width: 200px;
}

.sub_content .bar_button{
    color: rgba(0, 0, 0, 0.7);
}
.sub_content .bar_button:hover{
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.3);
}

.sub_content .sub_content{
    padding: 15px;
    margin: 15px 0px;
    width: 100%;
    min-width: auto;
}
.sub_content .sub_content:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}
.sub_content .sub_content:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
}
/*Main Image*/
.logo{
    margin: 0 10px 0 10px;

    height: auto;
    width: 100%;
    max-width: 40px;
}
.logo_title{
    display: block; 
    margin: auto;
    padding: 15px;

    height: auto;
    width: 100%;
    max-width: 200px;
}



.sub_content .sub_content img{
    border-radius: 15px;
}

.item_container{
    flex-wrap: wrap;
}



.form_btn{
    margin-left: auto;
    float: right;
    padding: 5px 10px;
}

form input{
    padding: 0px 5px;
    border-radius: 5px;
}
form .bar_button{
    border-radius: 5px;
}