.bg_col_main{
    background-color: burlywood;
}
.bg_col_sub{
    background-color:blue;
}
.bg_col_dark_7{
    background-color: rgba(0, 0, 0, 0.7);
}
.bg_col_dark_5{
    background-color: rgba(0, 0, 0, 0.5);
}
.bg_col_dark_3{
    background-color: rgba(0, 0, 0, 0.3);
}
.bg_col_dark_1{
    background-color: rgba(0, 0, 0, 0.1);
}
.bg_col_bright{
    background-color: rgba(255, 255, 255, 0.7);
}




/*Main Image*/
.logo{
    margin: 0 10px 0 10px;

    height: auto;
    width: 100%;
    max-width: 40px;
}
.logo_title{
    display: block; 
    margin: auto;
    padding: 15px;

    height: auto;
    width: 100%;
    max-width: 200px;
}